<h1>Grocery List</h1>

<%= link_to "Add a new Item", new_list_path %>
<br />
<table>
  <tr>
    <th>Item</th>
    <th>Brand</th>
    <th>Grocery Store</th>
    <th>Price</th>
  </tr>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.item, list_path(list) %></td>
    <td><%= list.brand %></td>
    <td><%= list.store %></td>
    <td>$<%= list.price %></td>
  </tr>
<% end %>
</table>
