
<div>
  <h1 class="title">Add a New Item to your List</h1>
  <%= form_for @list do |f| %>

  <%= f.text_field :item, placeholder: "Item", required: true, :class => 'form' %>

  <%= f.text_field :brand, placeholder: "Brand", required: true, :class => 'form' %>

  <%= f.text_field :store, placeholder: "Store", required: true, :class => 'form' %>

  <%= f.text_field :price, placeholder: "Price", :class => 'form' %>

  <%= f.submit "Add to List", :class => 'button' %>

  <% end %>

</div>
